<html>
<head><meta charset="utf-8"/><title>尬聊</title></head>
<body>
<script src="https://cdn.bootcss.com/vue/2.4.4/vue.min.js"></script>
<script src="https://cdn.bootcss.com/element-ui/1.4.6/index.js"></script>
<script src="https://cdn.bootcss.com/paho-mqtt/1.0.2/mqttws31.min.js"></script>
<link href="https://cdn.bootcss.com/element-ui/1.4.6/theme-default/index.css" rel="stylesheet">
<script src="https://unpkg.com/hama@1.3.1/蛤语言.js"></script>
<div>
    <el-card style="height: 100%">
        <div style="width:100%;position:absolute;bottom: 30px">
            <el-input placeholder="输入内容 Enter键发送" style="width:90%" v-model="tosend" @keyup.enter.native="send"></el-input>
        </div>
        <div id="chat" style="margin-bottom: 100px;">
            <div v-for="m in messages"><el-tag type="primary" style="margin:2px">{{m}}</el-tag></div>
        </div>
    </el-card>
</div>
<script type="text/蛤语言">
    记者香港香港续一秒记者蛤蛤图样香港吼啊香港华莱士香港学习香港中国有句古话香港钦定记者大新闻蛤图样吼啊跑得快蛤图
    样香港钦定香港中国有句古话记者记者蛤图样中国有句古话图样香港续一秒香港图森破香港长者蛤钦定大新闻跑得快中国有句
    古话续一秒中国有句古话大新闻中国有句古话大新闻蛤钦定大新闻吼啊
    香港华莱士香港学习香港中国有句古话香港钦定记者大新闻蛤图森破蛤蛤香港续一秒香港跑得快蛤钦定香港续一秒记者图样记者图样记者图森破香港吼啊
    蛤钦定香港吼啊香港长者香港跑得快蛤蛤蛤华莱士蛤图样大新闻钦定记者中国有句古话香港跑得快香港蛤香港中国有句古话记者蛤蛤图森破吼啊
    图森破吼啊图样吼啊图森破吼啊
    大新闻蛤学习蛤华莱士蛤图样蛤蛤蛤蛤蛤知识水平大新闻跑得快香港续一秒记者大新闻香港图森破蛤钦定记者蛤香港续一秒香港钦定香港大新闻香港长者香港跑得快蛤图森破蛤学习蛤学习图样提高香港吼啊
    香港华莱士香港学习香港中国有句古话香港钦定记者大新闻蛤钦定香港长者香港钦定大新闻跑得快香港中国有句古话记者吼啊记者吼啊
    香港续一秒香港记者香港中国有句古话大新闻续一秒记者蛤记者蛤香港学习记者香港香港中国有句古话香港大新闻蛤图样吼啊
    跑得快蛤图样香港香港记者中国有句古话香港钦定香港吼啊记者大新闻香港学习香港长者香港钦定蛤图森破香港跑得快香港中国有句古话记者吼啊记者吼啊
    香港续一秒香港记者香港中国有句古话蛤学习蛤图样记者知识水平蛤图样记者记者香港学习香港钦定香港大新闻香港长者记者记者蛤钦定记者香港香港跑得快蛤钦定香港跑得快香港中国有句古话记者吼啊
    记者吼啊香港续一秒香港记者香港中国有句古话记者吼啊蛤钦定记者图样记者中国有句古话记者吼啊香港图森破蛤图森破大新闻提高中国有句古话吼啊
    大新闻长者大新闻钦定蛤钦定记者图样香港续一秒记者蛤记者吼啊香港中国有句古话蛤图森破香港跑得快香港中国有句古话记者吼啊记者吼啊
    香港续一秒香港记者香港中国有句古话蛤钦定记者图样香港续一秒记者学习香港华莱士香港长者香港续一秒香港大新闻中国有句古话吼啊
    记者大新闻记者蛤香港学习香港钦定香港记者蛤学习蛤钦定香港吼啊香港长者香港钦定记者大新闻香港中国有句古话香港钦定记者大新闻蛤学习记者跑得快图样提高香港吼啊
    香港华莱士香港学习香港中国有句古话香港钦定记者大新闻蛤钦定香港吼啊
    香港长者香港钦定香港钦定香港中国有句古话香港吼啊记者大新闻蛤图森破记者知识水平记者中国有句古话记者吼啊
    香港中国有句古话中国有句古话吼啊中国有句古话吼啊大新闻华莱士吼啊
    提高记者大新闻记者蛤记者中国有句古话香港中国有句古话蛤华莱士蛤图样香港长者香港钦定中国有句古话吼啊
    记者中国有句古话香港吼啊香港吼啊香港中国有句古话记者吼啊记者吼啊吼啊提高香港香港记者中国有句古话香港钦定香港吼啊
    记者大新闻香港学习香港长者香港钦定蛤图森破蛤学习记者知识水平蛤图样香港吼啊
    香港华莱士香港学习香港中国有句古话香港钦定记者大新闻蛤钦定记者吼啊记者中国有句古话香港蛤记者吼啊香港吼啊
    记者蛤香港学习香港蛤香港中国有句古话蛤图森破蛤蛤记者图样记者中国有句古话香港蛤香港华莱士香港学习香港吼啊
    蛤蛤蛤学习记者跑得快记者跑得快蛤学习图样提高记者记者香港学习香港钦定香港大新闻香港长者记者记者蛤钦定记者香港香港跑得快吼啊
    跑得快香港钦定香港中国有句古话记者记者蛤图样中国有句古话香港记者中国有句古话香港中国有句古话蛤图森破记者知识水平图样提高香港中国有句古话香港华莱士吼啊
    提高蛤记者香港蛤香港长者香港大新闻记者学习吼啊钦定香港大新闻香港学习记者香港蛤记者蛤华莱士图样提高香港大新闻香港续一秒记者大新闻香港续一秒吼啊
    提高记者知识水平香港跑得快香港中国有句古话记者吼啊记者吼啊香港续一秒香港记者香港中国有句古话记者吼啊吼啊
    提高中国有句古话知识水平中国有句古话跑得快蛤华莱士蛤图样记者大新闻香港长者记者吼啊香港中国有句古话香港钦定香港大新闻吼啊
    提高蛤记者蛤记者记者跑得快蛤华莱士图样提高香港跑得快香港中国有句古话记者大新闻香港图森破香港长者香港大新闻记者吼啊
    吼啊提高记者知识水平图样提高记者吼啊香港中国有句古话香港钦定香港大新闻吼啊提高香港香港记者中国有句古话香港钦定香港吼啊
    记者大新闻香港学习香港长者香港钦定蛤图森破蛤学习记者知识水平图样提高香港学习香港香港蛤图森破记者大新闻香港图森破香港学习记者吼啊
    蛤钦定记者大新闻香港长者记者吼啊香港中国有句古话香港钦定香港大新闻蛤图样吼啊
    跑得快吼啊跑得快蛤图样蛤蛤蛤蛤蛤学习蛤图样记者蛤香港中国有句古话记者大新闻记者中国有句古话记者蛤香港钦定图样提高记者香港香港续一秒记者蛤蛤图样记者图样香港续一秒记者学习香港华莱士香港长者香港续一秒香港大新闻蛤图样吼啊
    跑得快蛤图样蛤图森破记者知识水平香港吼啊
    香港长者香港钦定记者大新闻香港中国有句古话香港钦定记者大新闻吼啊提高记者大新闻香港图森破香港学习记者吼啊
    蛤钦定记者大新闻香港长者记者吼啊香港中国有句古话香港钦定香港大新闻记者跑得快蛤学习图样提高记者香港香港续一秒记者蛤蛤图样香港跑得快香港中国有句古话记者吼啊记者吼啊香港续一秒香港记者香港中国有句古话蛤图样吼啊
    跑得快蛤图样香港钦定香港中国有句古话记者记者蛤图样中国有句古话图样香港续一秒香港图森破香港长者蛤钦定大新闻跑得快中国有句古话续一秒中国有句古话大新闻中国有句古话大新闻蛤钦定大新闻跑得快香港中国有句古话记者吼啊
    记者吼啊香港续一秒香港记者香港中国有句古话蛤图森破大新闻提高中国有句古话吼啊大新闻长者大新闻钦定蛤钦定记者吼啊
    记者大新闻记者蛤香港学习香港钦定香港记者香港学习香港香港记者学习蛤图森破记者图样香港续一秒记者学习香港华莱士香港长者香港续一秒香港大新闻蛤学习蛤学习图样提高香港跑得快香港中国有句古话记者吼啊
    记者吼啊香港续一秒香港记者香港中国有句古话蛤钦定香港大新闻香港中国有句古话记者吼啊
    记者大新闻香港学习香港钦定香港续一秒记者大新闻香港学习香港长者香港钦定大新闻钦定香港续一秒香港跑得快香港中国有句古话蛤图样吼啊
    跑得快蛤图样蛤蛤记者图样记者中国有句古话香港蛤香港华莱士香港学习香港吼啊
    蛤蛤图样提高香港吼啊香港华莱士香港学习香港中国有句古话香港钦定记者大新闻蛤钦定记者吼啊
    香港中国有句古话香港钦定香港大新闻蛤图森破香港跑得快香港中国有句古话记者吼啊
    记者吼啊香港续一秒香港记者香港中国有句古话蛤学习图样提高记者大新闻香港图森破香港学习记者吼啊蛤钦定记者大新闻香港长者记者吼啊
    香港中国有句古话香港钦定香港大新闻蛤图样吼啊跑得快蛤图样蛤蛤蛤蛤图样提高记者跑得快图样提高记者跑得快图样提高记者跑得快蛤学习
</script>
</body>
</html>
